* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

::-webkit-scrollbar {
    width: 0px;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px 0;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.2);
}

.navbar nav {
    display: flex;
    justify-content: center;
    gap: 90px;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 400;
    position: relative;
    padding-bottom: 5px;
}

.navbar a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #414141;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease-out;
}

.navbar a:hover::after {
    transform: scaleX(1);
}

.hero-section {
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

.hero-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0)100%),
        url('../assets/image/road.png') no-repeat center center/cover;
    z-index: -1;
    animation: slowZoom 10s infinite alternate linear;
}

@keyframes slowZoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.2);
    }
}

.logo-text {
    font-size: 10rem;
    line-height: 0.9;
    text-indent: 50;
    font-weight: bold;
    margin-bottom: 20px;
    animation: fadeIn 1s ease-out;
}

.tagline {
    font-size: 2.5rem;
    margin: 0 auto;
    text-align: left;
    position: absolute;
    bottom: 5%;
    left: 25%;
    animation: fadeIn 1.5s ease-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slowZoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.05);
    }
}


/* HERO SECTION 2 STYLE */


.hero-section2 {
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

.hero-section2::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0)100%),
        url('../assets/image/vehicle.png') no-repeat center center/cover;
    z-index: -1;
}

@keyframes slowZoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.2);
    }
}

.headline {
    position: absolute;
    left: 23%;
    top: 25%;
    font-size: 6rem;
    line-height: 1;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    opacity: 0;
}

.desc {
    font-size: 1.3rem;
    max-width: 430px;
    position: absolute;
    bottom: 17%;
    left: 33%;
    color: #e4e1e1;
    opacity: 0;
}

.hero-section2.active .headline {
    animation: fadeIn 1s ease-out forwards;
}

.hero-section2.active .desc {
    animation: fadeIn 1.5s ease-out forwards;
}

.hero-section2.active::before {
    animation: slowZoom 10s infinite alternate linear;
}


/* CONTACT US STYLE */


.contact {
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

.contact::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:
        url('../assets/image/road2.png') no-repeat center center/cover;
    z-index: -1;
    animation: slowZoom 10s infinite alternate linear;
}

@keyframes slowZoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.2);
    }
}

.headline_contact {
    position: absolute;
    left: 2%;
    top: 12%;
    font-size: 6rem;
    line-height: 0.9;
    text-indent: 50;
    font-weight: bold;
    margin-bottom: 20px;
    animation: fadeIn 1s ease-out;
}

.tagline {
    font-size: 2.5rem;
    margin: 0 auto;
    text-align: left;
    position: absolute;
    bottom: 5%;
    left: 25%;
    animation: fadeIn 1.5s ease-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slowZoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.05);
    }
}

.social-icon img {
    width: 25px;
    height: 25px;
    transition: all 0.3s ease;
    filter: opacity(0.7);
    position: absolute;
    top: 58%;
    left: 2%;
    font-size: 1.5rem;
    left: 2%;
}

.insta:hover img {
    filter: grayscale(0) opacity(1) drop-shadow(0 0 8px #f09433);
    transform: translateY(-3px);
}


.form-card {
    width: 500px;
    background: #ffffff00;
    padding: 40px;
    border-radius: 30px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: 600;
}

input,
textarea {
    width: 100%;
    padding: 12px 20px;
    border-radius: 12px;
    border: 1.5px solid #eee;
    background: #f9f9fb00;
    font-size: 16px;
    transition: 0.3s;
}

input:focus,
textarea:focus {
    outline: none;
    border-color: var(--accent);
    background: #fff;
}

.btn-submit {
    background: #000;
    color: #fff;
    padding: 15px 40px;
    border: none;
    border-radius: 12px;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
}